<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScannerTiff.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScannerTiff.My.MySettings>
            <setting name="InDir" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OutDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SubDir" serializeAs="String">
                <value />
            </setting>
            <setting name="JpegQ" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MagickExe" serializeAs="String">
                <value>magick</value>
            </setting>
            <setting name="GhostscriptExe" serializeAs="String">
                <value>gswin64c</value>
            </setting>
            <setting name="DefaultRotate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArchiveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviewEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </ScannerTiff.My.MySettings>
    </userSettings>
</configuration>
